# Node modules
node_modules/

# Build output
public/assets/style.css

# Random zip files
*.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System
.DS_Store
chatgpt.md
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.sw?

# OS metadata
ehthumbs.db
Icon?

# Env or secrets (if any later)
.env
