@config "../../tailwind.config.js";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

html,
body {
    height: 100%;
    max-height: 100%;
}
body:hover #controls {
    display: flex;
}

#controls {
    display: none;
}

.chat-markdown pre {
    background-color: #1e1e1e;
    padding: 0.5em;
    border-radius: 4px;
    overflow-x: auto;
    margin-top: 0.25em;
    font-size: 0.9em;
}

.chat-markdown code {
    color: #eee;
    font-family: Menlo, Monaco, Consolas, monospace;
}

.copy-btn {
    @apply absolute top-1 right-2 bg-gray-700 text-white px-2 py-1 rounded text-xs opacity-75 hover:opacity-100 transition;
}

.hljs {
    background: transparent;
    color: inherit;
}